a.box {
    /* display: flex; */
    /* position: relative; */
    text-align: center;
    background-color: lightgrey;
    color: black;
    width: 40%;
    border: 1%;
    padding: 10%;
    margin: 5%;
}


.fullwidth {
  width: 100%;
}
